*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
  
.container{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 50s;
    height: 100vh;
    min-zoom: 50%;
    max-width: 100%;
}
.part-1{
    padding-top: 50px;
    width: 100%;
    color: white;
}
.part-2 img{
    box-shadow: 5px 5px 20px 5px;
    margin-top: 30px;
    border-radius: 50%;
    border: 5px rgb(85, 189, 85) solid;
}
.navigation{
    background: rgb(7,64,115);
background: linear-gradient(171deg, rgba(7,64,115,1) 0%, rgba(8,65,117,1) 41%, rgba(16,75,150,1) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.all{
    width: 100%;
}